.Rproj.user
.Rhistory
.RData
.Ruserdata

!.gitignore

/output/data_clean/*
!/output/data_clean/.gitkeep

/output/errors/*
!/output/errors/.gitkeep

/output/graphs/*
!/output/graphs/.gitkeep

/output/reports/*
!/output/reports/.gitkeep

/output/photos/*
!/output/photos/.gitkeep

/output/*
!/output/.gitkeep

/crew/*
!/crew/.gitkeep